html{
	color: black;
}
a{
	font-weight: bold;
	color: red;
	font-size: 90px;

}
	


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.containerHeader{
	font-size: 20px;
}

body{
	background-color: orange;
	width: auto;
}


#scheduleContainer{
	padding-right: 20px;
	    
}

#jumbos{
	padding-right:  0px;
	padding-left: 0px;
	background: url("../images/MARVEL_ENCYCLOPEDIA_400-reaced_header2.JPG");

}



#mainContainer{
	margin-left: 0px;
    margin-right: 0px;
}

#addTrain{
	padding-left:  20px;
	
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}


.modal-content {
	background: url('assets/images/hulk_modal.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}

.modal-body {
	font-size: 24px:
	line-height: 36px;
	font-weight: bold;
}