a{
	font-weight: bold;
	color: red;
	font-size: 120px;
	font-family: 'Bangers', cursive;


}
	

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.containerHeader{
	font-size: 20px;
}

body{
	background-color: orange;
	/*background: url("../images/marvel_superheroes.JPG");l*/
	width: auto;
	background-repeat: no-repeat;
	background-size: 100%;
}



#scheduleContainer{
	padding-right: 20px;
	opacity: 1;
	filter:alpha(opacity=100);
	    
}

#jumbos{
	padding-right:  0px;
	padding-left: 0px;
	background: url("../images/MARVEL_header5.jpg");
	 */	margin:20px;
	border-bottom: 3px solid blue;
	font-family: 'Bangers', cursive;
	background-repeat: no-repeat;
	background-size: 100%;
	color:  #FFCB05;


}



#mainContainer{
	margin-left: 0px;
    margin-right: 0px;
}

#addTrain{
	padding-left:  20px;
	
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Bangers', cursive;
}


.modal-content {
	background: url('../images/hulk_modal.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}

.modal-body {
	font-size: 24px:
	line-height: 36px;
	font-weight: bold;
}

#headerPanel{
	font-weight: bold;
	color:black;
}

h1{
	font-family: 'Bangers', cursive;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding-top: 10px;
}

.heroSearch {
	background: none;
	border: none;
	text-decoration: underline;
}

#listHeader {
	font-weight: bold;
	font-size: 22px;
}

#plotHeader {
	font-size: 22px;
}

.heroSearch:hover {
	color: red;
}

.movieButton {
	background: none;
	border: none;
	text-decoration: underline;
}

.movieButton:hover {
	color: red;
}

#resultsHeader {
	font-weight: bold;

}

.comicButton {
	background: none;
	border: none;
	text-decoration: underline;
}

.comicButton:hover {
	color: red;

}